// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

// --- Inicialização ---

// -- Inicia a barra (Waybar)
spawn-at-startup "sh" "-c" "$HOME/.config/waybar/waybar.sh"

// Inicia o daemon de wallpaper animado
spawn-at-startup "swww-daemon"

// Inicia o OSD de volume (wob)
spawn-at-startup "sh" "-c" "mkfifo /tmp/wob && tail -f /tmp/wob | wob"

// --- daemon de notificações
spawn-at-startup "swaync"
// spawn-at-startup "mako"

// suporte a apps antigos (jogos/discord)
// spawn-at-startup "xwayland-satellite"

// Autenticação
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
