    // Configurações Globais
    prefer-no-csd
    screenshot-path "/home/edinaldo/Imagens/Capturas de tela/Captura em %Y-%m-%d %H-%M-%S.png"
    environment {
        // Força Wayland para Qt e Electron
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        
        // Decoração e Temas
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        QT_QPA_PLATFORMTHEME "gtk3" // Ou "qt5ct" / "qt6ct" para Kvantum/QtSettings
        
        // Identificação da Sessão
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
    }
 
    hotkey-overlay {
       skip-at-startup
    }
